<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.log">

	<targets>
		<target xsi:type="ColoredConsole" name="logconsole" />
		<!-- File target for general application logs -->
		<target xsi:type="File" name="fileTarget"
				fileName="C:\Users\lidashubitidze\source\repos\FinalProject\FinalProject\Logs\Logs.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	

	<rules>
		<!-- All logs with Info level and above go to the file target -->
		<logger name="*" writeTo="fileTarget,logconsole" />
	</rules>
</nlog>